@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.App {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 4vw;
  align-items: center;
}



#info-txt{
  font-size: 20px;
  padding: 0 10vw;
}

body{
  background-color: #af884e;
}

@keyframes blink-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

button, input::file-selector-button {
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  background-color: #000000;
  border: none;
  margin-right: 5px;
}

button::hover{
  background-color: #4c91af; /* Green */
  color: white;
}
